.mainDiv {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  line-height: 2em;
}

.mainDivContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.divLeaveAcc {
  width: 70%;
  text-align: center;
}

.divLeaveAcc > h1 {
  padding-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}

.divLeaveAcc > h1 > span {
  color: var(--cor4);
}
