:root {
  --cor1: #2a2b2e;
  --cor2: #ffd89a;
  --cor3: #3bb273;
  --cor4: #fe5f55;
  --cor5: #ffbc42;
  --cor6: #d9d9d9;
  --cor7: #ada8a8;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carrois+Gothic+SC&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
