.recipesMainTitle {
  font-size: 3em;
  margin-bottom: 70px;
}

.recipesWithMostLikesTitle {
  color: var(--cor4);
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 70px;
}

.recipesMainDiv {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 30px 0px;
  justify-content: center;
  flex-direction: column;
}