.smallFoodContainer {
    display: flex;
    width: 100%;
    max-width: 300px;
    min-width: 50px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.imgFoodContainer {
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
}

.authorName {
    font-size: 1.2em;
}

.authorName > span {
    color: var(--cor4);
}

.iconHeart {
    color: red;
}